$color_green: #29b363;
$color_gray: #b1b0b0;
$color_text: #646464;

#root {
    height: 100%;
}

.joke {
    height: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        @media (max-width: 767px) {
            height: 65px;
        }
    }

    &__logo {
        width: 80px;
        height: 80px;
        overflow: auto;
        cursor: pointer;

        @media (max-width: 767px) {
            width: 60px;
            height: 60px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__authen {
        display: flex;
        align-items: center;
        position: relative;

        .desc {
            margin-right: 10px;

            @media (max-width: 767px) {
                font-size: 12px;
            }
        }

        .position {
            color: $color_gray;
            font-style: italic;
        }

        .name {
            text-align: right;
            font-weight: 500;
            cursor: pointer;
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $color_gray;
            overflow: hidden;
            cursor: pointer;

            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__menu-pc {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            display: none;
        }

        &.active {
            display: flex;
            align-items: center;

            @media (max-width: 767px) {
                position: absolute;
                top: 39px;
                right: 0;
                background-color: #fff;
                padding: 15px 10px;
                min-width: 200px;
                justify-content: end;
            }
        }

    }

    &__menu-mb {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__banner {
        background-color: $color_green;
        color: #fff;
        text-align: center;
        padding: 50px 15%;
        margin-bottom: 50px;

        @media (max-width: 767px) {
            padding: 25px 5%;
        }

        h2 {
            color: #fff;
        }
    }

    &__container_wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__main-content {
        color: $color_text;
        font-size: 16px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        position: relative;
        text-align: center;

        @media (max-width: 767px) {
            margin-bottom: 25px;
            padding-bottom: 25px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 70%;
            height: 1px;
            background-color: #f6f6f6;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);

        }

        p {
            margin-bottom: 0;
        }
    }

    &__action {
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: 767px) {

            flex-direction: column;

            .btn {
                margin-bottom: 30px;
            }
        }

        .btn__blue {
            margin-right: 30px;

            @media (max-width: 767px) {
                margin-right: 0;
            }
        }
    }

    &__footer {
        text-align: center;
        padding-bottom: 30px;
        margin-top: auto;

        p {
            color: $color_gray;
        }

        span {
            font-weight: 500;
            color: $color_text;
        }
    }
}

$color_btn_blue: #2c7edb;
$color_btn_blue_hover: #0a50a0;
$color_btn_green: #29b363;
$color_btn_green_hover: #077434;

.btn {
    border: none;
    color: #fff;
    padding: 10px 20px !important;
    // width: auto;
    height: 100%;
    min-width: 200px;
    border-radius: 0;
    position: relative;
    font-size: 16px;

    &::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #111;
        opacity: 0.2;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__blue {
        background-color: $color_btn_blue;

        &:hover {
            color: #fff;
            background-color: $color_btn_blue_hover;
        }
    }

    &__green {
        background-color: $color_btn_green;

        &:hover {
            color: #fff;
            background-color: $color_btn_green_hover;
        }
    }
}